.FAQPage{
    width: 100%;
    height: 50vh;
    box-shadow: inset 0 0 0 1000px rgba(168, 19, 31, 0.9);
}
.FAQContent{
    padding-top: 3em;
    font-family: 'Berkshire Swash', cursive;
}
.FAQTitle{
    font-size: 2.5em;
}
span{
    font-weight: bold;
    font-family: 'Saira Condensed', sans-serif;
}
.FAQSub{
    font-size: 2em;
}