.Header{
  background-color: rgba(29, 25, 32, 0.95);
  height:150px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App-title {
  font-size: 2.6em;
  align-self: center;
  padding-left: 20px;
  font-family: 'Berkshire Swash', cursive;
  color: #E7D9CA; 
    
}

.LogoImg{
  padding-left: 30px;
  width: 85px;
  height: 85px;
  /* border-radius: 50%; */
}

.ECLogo {
  width: 85px;
  height: 85px;
  padding-left: 45em;
}