.Body{
    width:100%;
    height:100%;
    /* background-color: rgba(139, 27, 63, 0.8); */
    box-shadow: inset 0 0 0 1000px rgba(168, 19, 69, 0.8);
    font-family: 'Berkshire Swash', cursive;
  }
.LogoPic{
  width: 20em;
  height: 20em;
  padding: 3em 3em 0em 3em
}
.Content{
  padding-top: 5em;
  padding-bottom: 3em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#WelcomeTitle{
  font-size: 3.5em;
}
.WelcomeSub, .TagLine{
  font-size: 2em;
}
.WordContent{
  padding-top: 3em;
}
