.Body{
    width:100%;
    height:100%;
    /* background-color: rgba(139, 27, 63, 0.8); */
    background-color: rgba(168, 19, 69, 0.8);
    font-family: 'Berkshire Swash', cursive;
  }
.HackathonPic{
  width: 600px;
  height: 200px;
}
.RandoPic{
  width: 600px;
  height: 200px;
}
.Content{
  padding-top: 5em;
}