.menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: rgba(66, 42, 60, 0.9); */
    background-color: rgba(29, 25, 32, 0.99);
    padding: .5em .5em .5em 1em;
    position: fixed;
    width: 100%;
}
.link1, .link2, .link3, .link4, .link5, .link6 {
    margin-right:25px;
    margin-top: 5px;
    border-top: solid;
    border-bottom: solid;
    /* border: solid; */
    border-width: .5px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 5px;
    font-family: 'Bungee';
    font-size: 0.9em;
}
.link1:hover, .link2:hover, .link3:hover, .link4:hover, .link5:hover, .link6:hover{
    /* font-weight: bold; */
    border-width: 3px;
    border-right: none;
    border-left: none;
    background-color: rgba(124, 149, 117, 0.99); 
}
.link1 {
    margin-left: 7px; 
}
.Link1, .Link2, .Link3, .Link4, .Link5, .Link6 {
    text-decoration: none;
    color: #E7D9CA;
}

.NavLogoImg {
    width: 3.7em;
    height: 3.7em;
    padding-right:1em;
    padding-left: 1em;
}
.NavECLogo {
    width: 3.3em;
    height: 3.3em;
    padding-left: 4em;
}
.AppTitle {
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.5em;
    margin: .4em;
    padding-right: 1em;
}