.SignUpBody {
    width:214.5vh;
    height: 100vh;
    background:rgba(168, 19, 69, 0.8);
    font-family: 'Berkshire Swash', cursive;
}
p {
    font-size: 20px;
    font-family: 'Bungee';
}
.SignUpContent{
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4em;
}
.SignUpTitle{
    font-size: 5em;
    margin-bottom: -0.01em;
}
.SignUpInstruction{
    font-size: 2em;
    margin-bottom: 2.5em;
}
.SignUpLink{
    text-decoration: none;
    color: #E7D9CA;
    font-size: 2em;
    font-family: 'Bungee';
    
}
.SignUpLink:hover{
    font-weight: bold;
}
.SignUpButton{
    box-shadow: 0.5em 0.5em 0.3em rgba(21, 18, 24, 0.99);
    border: solid;
    border-radius: 20%;
    border-width: 0.5em;
    height: 20%;
    border-color: rgba(15, 13, 17, 0.99);
    background-color: rgba(29, 25, 32, 0.99);
    width:50%;
    padding: 1em;
}
.SignUpButton:hover{
    background-color: rgba(15, 13, 17, 0.99);
    border-color: rgba(22, 19, 26, 0.99);
    box-shadow: 0.65em 0.65em 0.4em rgba(10, 5, 15, 0.99)
}